<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Распознавание речи</title>
    <link rel="stylesheet" href="/transcribe/public/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>🎙️ Распознавание речи</h1>
            <p>от Artezon</p>
        </div>

        <!-- Upload Section -->
        <div class="upload-section">
            <h1>404</h1><br>
            <p style="font-size: 1.1em;">Такой расшифровки не существует или она была удалена</p>
        </div>
    </div>
</body>
</html>